<form (submit)="onSubmitAdd()" class="alert col-sm-5">
  <div class="form-group">
    <textarea [(ngModel)]="message" type="text" name="message" class="form-control input-lg" required></textarea>
  </div>
  <button type="submit" class="btn btn-default btn-lg">Post</button>
</form>
<div *ngIf="(message)" class="alert col-sm-6 alert-success">
  <h3 class="text-right">User: {{currentUser.displayName}}</h3>
  <h5>Message:</h5>
  <div class="well well-lg text-primary"><h4>{{message}}</h4></div>
  <h5 class="text-left">Likes: {{numOfLikes}}</h5>
</div>
